body {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}
.btn {
  background-color: #ffffff;
  color: #e5dc15;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  border: 1px solid #e5dc15;
  font-size: 60px;
  width: 90px;
  height: 90px;
  cursor: pointer;
  position: relative;
  top: 0;
}
.disabled .btn {
  cursor: default;
}
.disabled .btn:hover {
  top: 0;
  background: #ffffff;
  color: #e5dc15;
}

.btn.disabled {
  cursor: default;
}
.btn.disabled:hover {
  top: 0;
  background: #ffffff;
  color: #e5dc15;
}

.btn:hover {
  background-color: #e5dc15;
  color: lightblue;
 
}

.board {
  width: 250px;
  height: 250px;
  margin: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3,1fr);
}

p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
}
p button {
  margin-bottom: 10px;
}